.main_text{
    animation: fadein 1s forwards;
    @media screen and (max-width: 767px){
        margin-top: 63px;
    }
    @media screen and (min-width: 768px) and (max-width: 1023px){
        margin-top: 58px;
    }
    @media screen and (min-width: 1024px){
        margin-top: 61px;
    }
    font-size: 20px;
    padding: 20px;
}
@keyframes fadeinnimbus {
    0%{
        opacity: 0;
    }
    99.9%{
        opacity: 1;
    }
    100%{
        display: none;
    }
}
.nimbus_image{
    justify-self: center;
    animation: fadeinnimbus 5s forwards;
    opacity: 0;
    animation-delay: 0.5s;
    text-align: center;
    width: 40%;
    min-width: 250px;
}
.video1{
    animation: videofadein 1s forwards;
    opacity: 0;
    animation-delay: 0.5s;
    video {
        width: 60%;
        @media screen and (max-width: 767px){
            width: 100%;
        }
        height: auto;
        margin: 5px auto 15px;
    }
    justify-content: center;
    display: flex;
}